<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Desafio Monetize</title>
    <script type="text/javascript">
       const generate = () => {
        console.log('generated')
        location.reload()
      }
    </script>
  </head>
  <body>
    <div class="container">


      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light text-center">Dezenas:</h1>
          <h2 class="fw-light text-center">{{result.resultado_formatado}}</h2>
          <p class="lead text-muted text-center">Boa sorte!</p>
          <p class="text-center">
            <button href="#" onclick="generate()" class="btn btn-primary my-2">Gerar novo</button>
            <a href="https://api.whatsapp.com/send?phone=55629848877&text=Gabriel%2C%20quero%20te%20contratar!" class="btn btn-success my-2">Me contratar</a>
          </p>
        </div>
      </div>
        <div class="row py-lg-5">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Jogo</th>
                <th scope="col">Dezena apostada</th>
                <th scope="col">Quantidade de dezenas acertadas</th>
              </tr>
          </thead>
          <tbody>
              {% for result in result.jogos %}
                <tr>
                  <td>{{result.jogo}}</td>
                  <td>{{result.numeros_apostados}}</td>
                  <td>{{result.quantidade_de_acertos}}</td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  </body>
</html>